/* App.css */
* {
  /* 要素タップ時のハイライトを無効化 */
  -webkit-tap-highlight-color: transparent; /* iOS/Android Chrome */
}
body {
  margin: 0;
  padding: 0;
  font-size: calc(2vw + 2vh);
}
h1 {
  margin: 0;
  font-size: calc(2.5vw + 2.5vh);
}
h2 {
  margin: 0;
  margin-top: 5vh;
  font-size: 150%;
}
h3 {
  margin: 0;
  font-size: calc(1.7vw + 1.7vh);
}
p {
  margin: calc(0.5vw + 0.5vh);
}
button:active {
  color: black;
  transform: translateY(calc(0.2vw + 0.2vh));
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: calc(1vw + 1vh);
  text-align: center;
  transition: background-color 0.5s;
}

/* 初期画面 */
.initial-screen {
  background-color: #f0f8ff; /* 薄い青 */
}

.start-button {
  padding: calc(1.5vw + 1.5vh);
  font-size: calc(2.2vw + 2.2vh);
  background-color: #4CAF50; /* 緑 */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: calc(2.5vw + 2.5vh);
  border: calc(0.2vw + 0.2vh) solid black;
}

/* 練習画面 */
.practice-container {
  /* .app-containerと同じ設定を継承しても良い */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 99vh;
  min-width: 99vw;
  transition: background-color 0.3s;
}

.tap-button {
  margin-top: calc(2vw + 2vh);
  font-size: calc(3vw + 3vh);
  width: calc(26vw + 26vh);
  height: calc(10vw + 10vh);
  max-width: calc(75vw + 75vh);
  background-color: #ff9800; /* オレンジ */
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  font-weight: bold;
  border: calc(0.2vw + 0.2vh) solid black;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.5);
}
.tap-button:hover {
  background-color: #cccc00; /* 黄色 */
  color: black;
}

.instruction {
  color: #333;
}

.controls {
  margin-top: calc(1vw + 1vh);
}

.reset-button {
  background: none;
  border: 1px solid #ccc;
  color: #666;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: calc(1.7vw + 1.7vh);
  border: calc(0.2vw + 0.2vh) solid black;
  margin-top: calc(2vw + 2vh);
}
.reset-button:hover {
  background-color: #ffff55; /* 黄色 */
}

/* フィードバック画面 - 成功 */
.success-screen {
  background-color: #d0ffd0; /* 薄い緑 */
}

.success-screen .feedback-message {
  color: #4CCF50; /* 緑 */
  font-size: calc(5vw + 5vh);
  animation: pulse 0.5s infinite alternate;
  text-align: center;
}

/* フィードバック画面 - 失敗 */
.fail-screen {
  background-color: #ffdddd; /* 薄い赤 */
}

.fail-screen .feedback-message {
  color: #F44336; /* 赤 */
  font-size: calc(3vw + 3vh);
  text-align: center;
}

/* 結果画面 */
.result-screen {
  background-color: #fffacd; /* 薄い黄色 */
}

.stats-box {
  border: 2px solid #ff9800;
  border-radius: 10px;
  padding: calc(1vw + 1vh);
  margin: calc(1vw + 1vh) 0;
  background-color: white;
}

.stats-box table {
  border: none;
  border-collapse: collapse;
}

/* テーブルレイアウト風に配置する */
.stats-list {
  display: flex;
  flex-direction: column;
}
.stats-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(1.7vw + 1.7vh);
}
.stats-label, .stats-value, .stats-rate {
  flex: 1;
  flex-shrink: 0;
  white-space: nowrap;
  padding: calc(0.4vw + 0.4vh);
}
.stats-label {
  text-align: left;
}
.stats-value {
  text-align: center;
}
.stats-rate {
  text-align: right;
}

.restart-button {
  padding: calc(1.5vw + 1.5vh);
  font-size: calc(2.2vw + 2.2vh);
  background-color: #4CAF50; /* 緑 */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: calc(1.2vw + 1.2vh);
}

/* アニメーション */
@keyframes pulse {
  from { transform: scale(1); }
  to { transform: scale(1.05); }
}

/* 改行なし */
.nobr {
  white-space: nowrap;
}

/* 中央そろえ */
.center {
  text-align: center;
}

.large {
  font-size: calc((4vh + 4vw));
}

.disable-select {
  /* テキストの選択を完全に無効化 */
  user-select: none; 
  
  /* 互換性のためのプレフィックス */
  -webkit-user-select: none; /* Safari, Chrome */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
}
